* {
    margin: 0;
    padding: 0;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;

    color: black;
    background-color: #f5f5f5;
}

.h1 {
    margin-top: 30px;

    text-align: center;
}

#root {
    max-width: 900px;
    min-height: 500px;
    margin: 50px auto 50px;
    padding: 20px 35px 35px;

    background: #dedede;
    -webkit-box-shadow: 0 0 1em black;
            box-shadow: 0 0 1em black;
}

.root {
    overflow: hidden;
}

.app__h2 {
    font-size: 25px;

    margin: 0 0 30px;

    text-align: center;
}

.gallery,
.gallery-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 8px;

    list-style: none;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.gallery__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 30%;
    margin: 8px;
    padding: 12px 8px 15px;

    border: 2px solid black;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.gallery__a {
    font-size: 16px;
    line-height: 15px;

    margin: 0 auto 12px;

    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    color: #000000;

    -webkit-text-decoration-line: none;
            text-decoration-line: none;
}

.gallery__a:hover {
    background: #ffb952;

    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.gallery__modal {
    min-height: 340px;
}

.gallery__img {
    width: 100%;
    min-height: 336px;
    margin: 0 auto;

    -o-object-fit: cover;
       object-fit: cover;
}

.gallery__span-date {
    font-size: 13px;
    font-weight: bold;

    margin: 12px 30px 10px 0;
}

.gallery__span-likes {
    font-size: 16px;
    font-weight: bold;

    padding-left: 20px;

    background: no-repeat left center/15px 15px;
}

.gallery__btn-show-more{
    font-size: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 10px auto 15px;
    padding: 10px 30px;

    cursor: pointer;
    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    color: #555;
    border: 2px solid gray;
    outline: none;
    background: #efbc71;
}

.gallery__btn-show-more:hover {
    border: 2px solid #ffac00;
}

.overlay-modal {
    border: 2px solid black;
}

.gallery-full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
        flex-flow: column;
}

.gallery-full__link {
    width: 190px;
    margin-bottom: 3px;
    padding: 0 5px;

    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    border: none;

    -webkit-text-decoration-line: none;
            text-decoration-line: none;
}

.gallery-full__link:hover {
    background-color: #ffb952;
}

.gallery-full__close-button {
    width: 32px;
    height: 32px;

    cursor: pointer;
    vertical-align: middle;

    border: none;
    outline: none;
    background: no-repeat center center/32px 32px;
}

.gallery-full__close-text {
    font-size: 16px;
    font-weight: bold;

    display: inline-block;

    margin-left: 12px;

    vertical-align: middle;

    color: #000;
}

.gallery-full__wrap-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 12px 8px 15px;

    border: 2px solid rgb(0, 0, 0);

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.gallery-full__a {
    font-size: 20px;

    margin: 0 auto 22px;
}

.gallery-full__img {
    width: 100%;
    min-height: 336px;
    margin: 0 auto 15px;

    -o-object-fit: cover;
       object-fit: cover;
}

.gallery-full__span-date {
    font-size: 15px;
    font-weight: bold;

    margin: 0 25px 10px 0;
}

.gallery-full__like-button {
    width: 24px;
    height: 24px;
    margin-top: -3px;

    cursor: pointer;

    border: none;
    outline: none;

    background: no-repeat center center/24px 24px;
}   

.gallery-full__span-likes {
    font-size: 16px;
    font-weight: bold;

    padding-left: 20px;
}
